<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="umbracoDebugMode" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" defaultRedirect="/not-found" xdt:Transform="Replace">
      <error statusCode="404" redirect="/not-found"/>
    </customErrors>
  </system.web>

  <system.webServer>
    <httpErrors errorMode="Custom" xdt:Transform="Replace">
      <remove statusCode="500" />
      <remove statusCode="404" />
      <error statusCode="500" path="/error.html" responseMode="ExecuteURL"/>
      <error statusCode="404" path="/not-found" responseMode="ExecuteURL"/>
    </httpErrors>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" xdt:Transform="Insert">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
  </system.webServer>
</configuration>